<a href="https://colab.research.google.com/github/epasseto/FundamentosDataScience1/blob/main/Aulas/Copy_of_Aula1_14_LendoCSV_solved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lendo arquivos CSV
Vamos praticar a leitura de arquivos csv com este conjunto de dados fictício com notas de alunos. Como você já viu algumas vezes, `read_csv()` é usado para carregar dados de arquivos csv em um dataframe do Pandas. Temos apenas que especificar o caminho do arquivo que contém nossos dados. Eu armazenei `student_scores.csv` no mesmo diretório que este notebook Jupyter, então temos apenas que fornecer o nome do arquivo.

Execute cada célula conforme você avança neste notebook Jupyter.

In [ ]:
import pandas as pd

Para acesso direto, é necessário:

- instalar em sua máquina o **Anaconda**

- instalar em sua máquina o **Github Desktop**

- puxar todos os arquivos (dar um **pull** / **forking**) de todos os arquivos e copiar este notebook `Aula1_14_LendoCSV_solved.ipynb` e o arquivo `student_scores.csv` para seu diretório de trabalho

- abrir o seu Jupyter Notebook e rodar a célula de leitura do dataset abaixo (retire o comentário para ela funcionar!)

In [ ]:
#df = pd.read_csv('student_scores.csv')

Alternativa, usando o Google Colab para acessar o repositório GitHub. Dica encontrada no [medium.com](https://medium.com/analytics-vidhya/how-to-use-google-colab-with-github-via-google-drive-68efb23a42d#id_token=eyJhbGciOiJSUzI1NiIsImtpZCI6ImNlYzEzZGViZjRiOTY0Nzk2ODM3MzYyMDUwODI0NjZjMTQ3OTdiZDAiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJuYmYiOjE2NDkzMzY5MjcsImF1ZCI6IjIxNjI5NjAzNTgzNC1rMWs2cWUwNjBzMnRwMmEyamFtNGxqZGNtczAwc3R0Zy5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjEwNTAzNjUxNTUwMDU1MTQ1OTkzNSIsImVtYWlsIjoiZXBhc3NldG9AZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF6cCI6IjIxNjI5NjAzNTgzNC1rMWs2cWUwNjBzMnRwMmEyamFtNGxqZGNtczAwc3R0Zy5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsIm5hbWUiOiJFcGFzc2V0byIsInBpY3R1cmUiOiJodHRwczovL2xoMy5nb29nbGV1c2VyY29udGVudC5jb20vYS0vQU9oMTRHakk2aHlXcVJMY190dkJiWDg5bEVMSmFnd2IwUFh5ck04Y3VhcEtHUT1zOTYtYyIsImdpdmVuX25hbWUiOiJFcGFzc2V0byIsImlhdCI6MTY0OTMzNzIyNywiZXhwIjoxNjQ5MzQwODI3LCJqdGkiOiI1ZDllMWFlOWI5Mjk3M2I4MmI3YTg3YzhhMWJkNzg0ODViNTU1OThiIn0.aqkOXQ_4y0IwiabsnRW8Q35yzV_p8oLsTgJ7wXOlK68hIUU0U1cUXCZ_8bsU7Eew6nZgc0pL5DUjqMmdYeWPo3U0UAIf2J5c3ImuQAFJUhwjO9RotV6UKFG5y7HjFsEiidzLxXO28wBt_nFesOM3otRCNk-BXI_s10_qQcr3L8jdJtc1JqCkb40YWqwTXxERj810xab1nccm7vDexbyFmlih66cNpmolCizH_8dBx6Rw5AZAAAlkI-kFUTeJrpq5nSt3ZZV7U_Ock9uK3WPmTjZOPjVkOUj-1_caORcb2B1k7K13JZRxFmxzKkbuR7Xw8ysMcWgtyPne3nthGV9QqA)

- nessa fase, é necessário pegar um token para acesso ao google drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Mudar o diretório de trabalho para **GitHub**:

- agora o meu novo diretório **home** é `../GoogleColab/GitHub/` (que está dentro do meu Google Drive)

In [ ]:
%cd /content/drive/MyDrive/GoogleColab/GitHub/
%ls

/content/drive/MyDrive/GoogleColab/GitHub
FundamentosDataScience1/

Clonando o diretório já existente no **GitHb**, para dentro da nova pasta **home** dentro do meu Google Drive, através do uso de URL

In [ ]:
#!git clone https://github.com/epasseto/FundamentosDataScience1

Este comando as condições:

- do diretório de trabalho

- da área de staging

Com ele eu posso ver: 

- quais as alterações que foram despreparadas

- quais não foram

- quais arquivos não estão sendo monitorados pelo **Git**

In [ ]:
#!git status

In [ ]:
path = 'FundamentosDataScience1/Data/student_scores.csv'
df = pd.read_csv(path, sep='\t')

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-161-7db89237fece>", line 2, in <module>
    df = pd.read_csv(path, sep='\t')
  File "/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py", line 311, in wrapper
    return func(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/parsers/readers.py", line 586, in read_csv
    return _read(filepath_or_buffer, kwds)
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/parsers/readers.py", line 482, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/parsers/readers.py", line 811, in __init__
    self._engine = self._make_engine(self.engine)
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/parsers/readers.py", line 1040, in _make_engine
    return mapping[engine](self.f, **self.options)  # type: ignore[call-arg]
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/parsers/c_parser_wrapper.py", line 51, in __init__
    self._open_handles(src, kwds)
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/parsers/base_parser.py", line 229, in _open_handles
    errors=kwds.get("encoding_errors", "strict"),
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/common.py", line 707, in get_handle
    newline="",
OSError: [Errno 107] Transport endpoint is not connected: 'FundamentosDataScience1/Data/student_scores.csv'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 1823, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OSError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 1132, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 358, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.7/posixpath.py", line 383, in abspath
    cwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected

OSError: ignored

`head()` é uma função útil que você pode chamar no seu dataframe para exibir as primeiras linhas. Vamos usá-la para ver como os dados estão organizados.

Lembre-se, CSV é uma sigla que significa valores separados por vírgula (do inglês: *comma separated values*) - mas o separador utilizado pode ser diferente, como outros caracteres, espaços, tabulação, etc. Caso seu arquivo seja separado por dois pontos, por exemplo, você ainda pode usar `read_csv()` com o parâmetro `sep`.

Passamos o parâmetro opcional `sep=\t` para indicar que neste caso, os dados foram separados por Tab.

In [ ]:
df.head()

      ID   Name  Attendance    HW  Test1  Project1  Test2  Project2  Final
0  27604    Joe        0.96  0.97   87.0      98.0   92.0      93.0   95.0
1  30572   Alex        1.00  0.84   92.0      89.0   94.0      92.0   91.0
2  39203  Avery        0.84  0.74   68.0      70.0   84.0      90.0   82.0
3  28592   Kris        0.96  1.00   82.0      94.0   90.0      81.0   84.0
4  27492   Rick        0.32  0.85   98.0     100.0   73.0      82.0   88.0

Se eu tentar assim:

In [ ]:
df = pd.read_csv(path, sep=':')
df.head()

  ID\tName\tAttendance\tHW\tTest1\tProject1\tTest2\tProject2\tFinal
0  0\t27604\tJoe\t0.96\t0.97\t87.0\t98.0\t92.0\t9...
1  1\t30572\tAlex\t1.00\t0.84\t92.0\t89.0\t94.0\t...
2  2\t39203\tAvery\t0.84\t0.74\t68.0\t70.0\t84.0\...
3  3\t28592\tKris\t0.96\t1.00\t82.0\t94.0\t90.0\t...
4  4\t27492\tRick\t0.32\t0.85\t98.0\t100.0\t73.0\...

Isso obviamente não funcionou porque nosso arquivo CSV está realmente separado por Tab, representado em **REGEX** pelo metacaractere `\t`. Como não há dois pontos no arquivo, nada foi separado e tudo foi lido como uma única coluna!

## Cabeçalhos
Outra coisa que você pode fazer com `read_csv` é especificar que linha do arquivo é o cabeçalho, que especifica os rótulos de cada coluna. Normalmente se usa a primeira linha para isso, mas pode ser que se queira escolher uma linha mais abaixo caso haja informações adicionais no topo do arquivo. Podemos fazer isso assim:

- quando eu vou adicionando muitos parâmetros, o ideal é usar uma linha para cada parâmetro

- existem diversas maneiras de fazer isso, você pode consultar a [PEP8](https://peps.python.org/pep-0008/)

In [ ]:
df = pd.read_csv(path, 
                 sep='\t', 
                 header=2)
df.head()

   1  30572   Alex  1.00  0.84  92.0   89.0  94.0  92.0.1  91.0
0  2  39203  Avery  0.84  0.74  68.0   70.0  84.0    90.0  82.0
1  3  28592   Kris  0.96  1.00  82.0   94.0  90.0    81.0  84.0
2  4  27492   Rick  0.32  0.85  98.0  100.0  73.0    82.0  88.0

Aqui, a linha 2 foi usada como o cabeçalho e tudo que estava nas linhas acima foi ignorado. Como padrão, `read_csv` usa header=0, que usa a primeira linha como cabeçalho das colunas.

- se rótulos de colunas não foram incluídos no seu arquivo, você pode usar `header=None` para previnir que sua primeira linhas de dados seja interpretada de forma incorreta como rótulos de colunas.

Você também pode especificar seus próprios rótulos de colunas assim.

In [ ]:
labels = ['id', 'name', 'attendance', 'hw', 'test1', 'project1', 'test2', 'project2', 'final']
df = pd.read_csv(path, 
                 sep='\t',
                 names=labels)
df.head()

   id   name  attendance    hw  test1  project1  test2  project2  final
0  ID   Name  Attendance    HW  Test1  Project1  Test2  Project2  Final
1   0  27604         Joe  0.96   0.97      87.0   98.0      92.0   93.0
2   1  30572        Alex  1.00   0.84      92.0   89.0      94.0   92.0
3   2  39203       Avery  0.84   0.74      68.0   70.0      84.0   90.0
4   3  28592        Kris  0.96   1.00      82.0   94.0      90.0   81.0

Se você quiser dizer para o pandas que havia um cabeçalho que você está substituindo, você pode especificar a linha do cabeçalho substituído assim.

In [ ]:
labels = ['id', 'name', 'attendance', 'hw', 'test1', 'project1', 'test2', 'project2', 'final']
df = pd.read_csv(path,
                 sep='\t',
                 header=0, 
                 names=labels)
df.head()

      id   name  attendance    hw  test1  project1  test2  project2  final
0  27604    Joe        0.96  0.97   87.0      98.0   92.0      93.0   95.0
1  30572   Alex        1.00  0.84   92.0      89.0   94.0      92.0   91.0
2  39203  Avery        0.84  0.74   68.0      70.0   84.0      90.0   82.0
3  28592   Kris        0.96  1.00   82.0      94.0   90.0      81.0   84.0
4  27492   Rick        0.32  0.85   98.0     100.0   73.0      82.0   88.0

## Índice
Ao invés de usar o índice padrão (inteiros incrementados de 1 a partir do 0), você pode especificar uma ou mais colunas para serem o índice do seu dataframe.

Às vezes é preciso limpar espaços em branco nos nomes. Eu posso ver se eles estão contaminados usando `df.columns.tolist()`.

Então eu entro uma linha de raw text, na forma `sep=r'\s*\t\s*'`, na qual eu incluo meu REGEX para a limpeza.

Não esquecer de acrescentar `engine='python'`, fonte: [Stack Overflow](https://stackoverflow.com/questions/35831496/key-error-when-selecting-columns-in-pandas-dataframe-after-read-csv)

In [ ]:
df = pd.read_csv(path,
                 sep=r'\s*\t\s*',
                 engine='python',
                 names=labels,
                 header=0)
df = df.set_index('id')
df.head()

        name  attendance    hw  test1  project1  test2  project2  final
id
27604    Joe        0.96  0.97   87.0      98.0   92.0      93.0   95.0
30572   Alex        1.00  0.84   92.0      89.0   94.0      92.0   91.0
39203  Avery        0.84  0.74   68.0      70.0   84.0      90.0   82.0
28592   Kris        0.96  1.00   82.0      94.0   90.0      81.0   84.0
27492   Rick        0.32  0.85   98.0     100.0   73.0      82.0   88.0

Usando chaves duplas:

In [ ]:
df = pd.read_csv(path,
                 sep=r'\s*\t\s*',
                 engine='python',
                 names=labels,
                 header=0)
df = df.set_index(['name', 'final'])
df.head()

                id  attendance    hw  test1  project1  test2  project2
name  final
Joe   95.0   27604        0.96  0.97   87.0      98.0   92.0      93.0
Alex  91.0   30572        1.00  0.84   92.0      89.0   94.0      92.0
Avery 82.0   39203        0.84  0.74   68.0      70.0   84.0      90.0
Kris  84.0   28592        0.96  1.00   82.0      94.0   90.0      81.0
Rick  88.0   27492        0.32  0.85   98.0     100.0   73.0      82.0

Você pode fazer muito mais que isso simplesmente usando esta função, como separar datas, preencher valores nulos, pular linhas, etc. Muitas destas coisas podem ser feitas com diferentes passos após a chamada da função `read_csv()`. Vamos modificar nossos dados de outras formas, mas você sempre pode consultar como fazer alguns destes passos com esta função [aqui](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html).

#### Teste 1
Use `read_csv()` para ler o arquivo `cancer_data.csv` e use uma coluna adequada como índice. Então, use `.head()` no seu dataframe para verificar se você fez isto corretamente. *Dica: Primeiro execute `read_csv()` **sem parâmetros** e então `head()` para ver como os dados estão organizados inicialmente.*

In [ ]:
path = 'FundamentosDataScience1/Data/cancer_data.csv'

df_cancer = pd.read_csv(path)
df_cancer = df_cancer.set_index('id')
df_cancer.head(1)

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave_points_mean,symmetry_mean,...,radius_max,texture_max,perimeter_max,area_max,smoothness_max,compactness_max,concavity_max,concave_points_max,symmetry_max,fractal_dimension_max
id,,,,,,,,,,,,,,,,,,,,,
842302,M,17.99,NaN,122.8,1001.0,0.1184,0.2776,0.3001,0.1471,0.2419,...,25.38,NaN,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.1189

#### Teste 2
Use `read_csv()` para ler o arquivo `powerplant_data.csv` com nomes de colunas mais descritivos, baseados na descrição das características neste [website](http://archive.ics.uci.edu/ml/datasets/combined+cycle+power+plant). Então, use `.head()` no seu dataframe para verificar se você fez isto corretamente. *Dica: Como no teste anterior, primeiro execute `read_csv()` sem parâmetros e então `head()` para ver como os dados estão organizados inicialmente.*

In [ ]:
path1 = 'FundamentosDataScience1/Data/cancer_data.csv'
path2 = 'FundamentosDataScience1/Data/cancer_data_edited.csv'

df_powerplant = pd.read_csv(path)

Gravando arquivos CSV
Legal! Agora vamos salvar seu segundo dataframe com dados da usina elétrica em um arquivo csv para a próxima seção.

In [ ]:
df_powerplant.to_csv(path2)

Vamor ver se isso funcionou da forma que gostaríamos.

In [ ]:
df = pd.read_csv(path2)
df.head()

,Unnamed: 0,id,diagnosis,radius,texture,perimeter,area,smoothness,compactness,concavity,concave_points,symmetry
0,0,842302,M,17.99,19.293431,122.80,1001.0,0.118400,0.27760,0.3001,0.14710,0.2419
1,1,842517,M,20.57,17.770000,132.90,1326.0,0.084740,0.07864,0.0869,0.07017,0.1812
2,2,84300903,M,19.69,21.250000,130.00,1203.0,0.109600,0.15990,0.1974,0.12790,0.2069
3,3,84348301,M,11.42,20.380000,77.58,386.1,0.096087,0.28390,0.2414,0.10520,0.2597
4,4,84358402,M,20.29,14.340000,135.10,1297.0,0.100300,0.13280,0.1980,0.10430,0.1809

O que é esse `Unnamed:0`? `to_csv()` armazenará nosso índice a não ser que digamos explicitamente que ele não deve fazer isso. Para fazê-lo ignorar o índice, nós temos que fornecer o parâmetro `index=False`

In [ ]:
df_powerplant.to_csv('powerplant_data_edited.csv', index=False)

### Desafios envolvendo lojas de departamentos

Explore o dataframe `store_data.csv` e responda algumas questões

In [ ]:
path = 'FundamentosDataScience1/Data/store_data.csv'
df_store = pd.read_csv(path)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-159-6d8437ef44af>", line 2, in <module>
    df_store = pd.read_csv(path)
  File "/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py", line 311, in wrapper
    return func(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/parsers/readers.py", line 586, in read_csv
    return _read(filepath_or_buffer, kwds)
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/parsers/readers.py", line 482, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/parsers/readers.py", line 811, in __init__
    self._engine = self._make_engine(self.engine)
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/parsers/readers.py", line 1040, in _make_engine
    return mapping[engine](self.f, **self.options)  # type: ignore[call-arg]
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/parsers/c_parser_wrapper.py", line 51, in __init__
    self._open_handles(src, kwds)
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/parsers/base_parser.py", line 229, in _open_handles
    errors=kwds.get("encoding_errors", "strict"),
  File "/usr/local/lib/python3.7/dist-packages/pandas/io/common.py", line 707, in get_handle
    newline="",
OSError: [Errno 107] Transport endpoint is not connected: 'FundamentosDataScience1/Data/store_data.csv'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 1823, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'OSError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 1132, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 358, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.7/posixpath.py", line 383, in abspath
    cwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected

OSError: ignored

Recuperando estatísticas para cada loja

In [ ]:
df_store.describe()

             storeA        storeB       storeC       storeD       storeE
count    200.000000    200.000000   200.000000   200.000000   200.000000
mean    5865.480000   6756.710000  4942.105000  5431.405000  2580.025000
std     2958.230318   3601.339489  1325.407768  1183.111323  1725.651381
min      137.000000     14.000000   927.000000  2276.000000    39.000000
25%     3812.250000   3884.500000  4053.500000  4717.000000  1235.000000
50%     5713.500000   6771.000000  4962.500000  5382.000000  2522.000000
75%     7662.250000   9350.500000  5801.750000  6243.750000  3574.250000
max    14403.000000  15841.000000  8293.000000  8190.000000  7553.000000

Último mês com vendas

In [ ]:
df_store['week'].tail(1)

199    2018-02-25
Name: week, dtype: object

Loja com melhor resultado no último mês

- primeiro selecionamos o intervalo de tempo

In [ ]:
df_store_time = df_store[(df_store['week'] > '2018-02-01') & (df_store['week'] < '2018-03-01')]
df_store_time

           week  storeA  storeB  storeC  storeD  storeE
196  2018-02-04    4853    6503    4187    5956    1458
197  2018-02-11    9202    3677    4540    6186     243
198  2018-02-18    3512    7511    4151    5596    3501
199  2018-02-25    7560    6904    3569    5045    2585

- depois somamos as colunas

In [ ]:
df_store_time_sum = df_store_time.sum(axis=0)[1:]
df_store_time_sum

storeA    25127
storeB    24595
storeC    16447
storeD    22783
storeE     7787
dtype: object

- finalmente descobrimos o índice daquela com o maior valor

  - **cuidado**, caso existam duas, apenas a primeira será selecionada!

  - valor tem que estar em formato Float!

In [ ]:
df_store_time_sum.astype(float).idxmax()

'storeA'

Colocando tudo junto:

In [ ]:
melhor = df_store[(df_store['week'] > '2018-02-01') & (df_store['week'] < '2018-03-01')].sum(axis=0)[1:].astype(float).idxmax()
print("Loja com melhor resultado no último mês: {0}".format(melhor))

Loja com melhor resultado no último mês: storeA

Vendas médias para loja A

In [ ]:
df_store['storeA'].mean()

5865.48

Qual loja vendeu mais durante a semana de 13 de março de 2016?

In [ ]:
print("Loja que mais vendeu durante a semana de 13 de março de 2016: {0}"\
      .format(df_store[(df_store['week'] > '2016-03-12') & 
             (df_store['week'] < '2016-03-21')].sum(axis=0)[1:].astype(float).idxmax()))

Loja que mais vendeu durante a semana de 13 de março de 2016: storeD

Em qual semana a loja C teve o pior resultado de vendas?

In [ ]:
print("A loja C tem o pior resultado de vendas na semana: {0}".format(
        df_store.iloc[df_store['storeC'].idxmin()]['week']))

A loja C tem o pior resultado de vendas na semana: 2014-07-06

Qual vendeu mais nos últimos três meses?

- primeiro, podemos conferir os últimos 3 meses, acessando as últimas linhas

In [ ]:
last_period = df_store.tail(1)
last_period

          week  storeA  storeB  storeC  storeD  storeE
199 2018-02-25    7560    6904    3569    5045    2585

- porém, para treinarmos vamos ter que calcular esses meses...

- ... mas antes precisamos converter a data em string para datetime...

In [ ]:
df_store['week'] = pd.to_datetime(df_store['week'])
df_store.dtypes

week      datetime64[ns]
storeA             int64
storeB             int64
storeC             int64
storeD             int64
storeE             int64
dtype: object

- vamos calcular quais são os últimos 3 meses

In [ ]:
period_end = df_store['week'].max()
period_start = period_end - pd.DateOffset(months=3)

print(period_start, period_end)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-158-9d345d10e980>", line 2, in <module>
    period_start = period_end - pd.DateOffset(months=3)
TypeError: unsupported operand type(s) for -: 'str' and 'DateOffset'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py", line 1823, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 1132, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 313, in wrapped
    return f(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/IPython/core/ultratb.py", line 358, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/usr/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/usr/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/usr/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/usr/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/usr/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/usr/lib/python3.7/posixpath.py", line 383, in abspath
    cwd = os.getcwd()
OSError: [Errno 107] Transport endpoint is not connected

TypeError: ignored

In [ ]:
#Filtrando para o período
df_store_filtered = df_store[(df_store['week'] >= period_start) & 
                             (df_store['week'] <= period_end)].sum(axis=0)
df_store_filtered

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

storeA    94457
storeB    84405
storeC    71939
storeD    79926
storeE    30566
dtype: int64

In [ ]:
df_store_filtered.sum(axis=0)

361293

In [ ]:
print("A loja que mais vendeu nos últimos 3 meses foi:{0}".format(
       df_store[(df_store['week'] >= period_start) & 
             (df_store['week'] <= period_end)].sum(axis=0).astype(float).idxmax()))

In [ ]:
df = pd.read_csv('powerplant_data_edited.csv')
df.head()

      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43